body {
	margin: 0;
	padding: 0;
}


.mainSection {
	height: 100vh;
	background-image: url(../img/bg-masthead.jpg) ;
}
.mainSection .textCenterWrapp {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.mainSection .textCenterWrapp .baton {
	height: 66px;
	widows: 181px;
	background-color: #1d809f;
	border: 0;
	color: white;
	font-weight: 400;
	border-radius: 3px;
	margin-top: 40px;
	font-size: 17px;
	transition:background-color 2s,	font-weight 1s;
}
.mainSection .textCenterWrapp .baton:hover{
	background-color: #155d74;
	font-weight: 800;
}
.services {
	height: 75vh;
	background-color: #1d809f;
}
.services .titleTextWrapp {
	text-align: center;
}
.services h5 {
	color: gold;
	margin:0;
	text-transform:uppercase;
	font-weight: 800;

}
.services h2 {
	margin:0;
	color:#fff;
}
.icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
}
.icon svg {
	position: relative;
	transform: translateY(-50%);
}
.iconWrapp {
	display: inline-block;
}
